#logo {
  width: 5em;
}

#navbar {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  list-style: none;
  column-gap: 2em;
}

nav > li > a {
  text-decoration: none;
}

.active {
  color: brown;
}
